/*========== GENERAL ==========*/
* {
    box-sizing: border-box;
    margin: 0;
}

:root { 
    --light-pink: #fdf2f8;
    --normal-pink: #eb4898;
    --dark-pink: #dc2d77;
    --light-gray-1: #f3f4f6;
    --light-gray-2: #cbd5e1;
    --normal-gray: #64749a;
    --dark-gray: #818181ed;
    --light-violet-1: #f5f3ff;
    --light-violet-2: #a78bfa;
    --normal-violet: #7c3aed;
    --normal-teal: #2dd4bf;
    --box-shadow: #c5c5c591;
}
  

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: "Roboto", sans-serif;
}

.container {
    max-width: 720px;
    margin: 30px auto;
}

.layout-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    padding: 10px 30px;
}

/*========== MAIN CONTENT ==========*/
.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.main-content h3{
    font-size: 2.2rem;
    font-weight: 800;
}

.main-content p.content {
    color: var(--dark-gray);
}

.main-content p.feature-text {
    font-weight: bold;
    color: var(--normal-pink);
}

.main-content button {
    margin-top: 10px;
    font-weight: 500;
    font-size: .9rem;
    max-width: fit-content;
    padding: 10px 15px;
    border-radius: 50px;
    display: inline-block;
    background: var(--light-pink);
	color: var(--dark-pink);
	border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.main-content button i {
    font-size: .5rem;
}

/*========== LAYOUT BUTTON GRID ==========*/
.layout-buttons-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(6rem, 1fr));
    column-gap: 30px;
    max-width: fit-content;

}

.layout-buttons-grid .grid-item {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--normal-gray);
    gap: 10px;
}

.layout-buttons-grid .grid-item.active,
.layout-buttons-grid .grid-item.active i {
    color: var(--dark-pink);
}

.layout-buttons-grid .grid-item i {
    color: var(--light-gray-2);
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.layout-buttons-grid .grid-item:hover i {
    color: var(--normal-gray);
}

.layout-buttons-grid .grid-item p {
    font-size: .9rem;
    font-weight: 600;
}

/* ========== MAIN VIEW ==========*/
/* -----> Simple view active <----*/
.main-card {
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 30px; */
    border-radius: 8px;
    box-shadow: var(--box-shadow) 0 10px 20px;
}

/* Card image */
.main-card {
    position: relative;
}

.main-card .card-image {
    position: relative;
    width: 200px;
    height: 300px;
    overflow: hidden;
}

.main-card .card-image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.main-card .card-content {
    flex-grow: 1;
    padding: 0 30px;
}

/* Name and price */
.main-card .card-content .info-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

/* Size buttons */
.main-card .card-content .size-buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    padding: 20px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--light-gray-2);
}

.main-card .card-content .size-buttons button {
    background: none;
    border: none;
    padding: 10px;
    font-size: .9rem;
    font-weight: 500;
    cursor: pointer;
}

/* Main buttons */
.main-card .card-content .main-buttons-grid {
   display: grid;
   grid-template-columns: auto auto 1fr;
   column-gap: 15px;
   margin-bottom: 20px;
}

.main-card .card-content .main-buttons-grid .action-button {
    background: none;
    border: none;
    padding-left: 25px;
    padding-right: 25px;
    height: 40px;
    font-size: .9rem;
    font-weight: 500;
    cursor: pointer;
}

.main-card .card-content .main-buttons-grid .secondary.action-button {
    border: 1px solid var(--light-gray-2);
}

.main-card .card-content .main-buttons-grid .favorite-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.main-card .card-content .main-buttons-grid .favorite-button {
    background: none;
    border: none;
    font-size: .9rem;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

/* Description */
.main-card .card-content .description {
    font-size: .9rem;
    color: var(--dark-gray);
}